{% block content %}

    <div id="chartContainer" style="width: 1400px; height: 700px; margin: 100px;">
    </div>

    <script type="text/javascript">
        var json_data = {{ json_data|safe }};

        var stevilo_dni = json_data["stevilo_dni"];
        var b_d = json_data["banka_denarnica"];
        if (b_d == "wallet") {
            b_d = "denarnici";
        }
        else if (b_d == "bank") {
            b_d = "banki";
        }
        else if (b_d == "wallet_and_bank") {
            b_d = "skupaj v denarnici in banki";
        }

        var days = [];
        for (var key in json_data) {
            if (key != "stevilo_dni" && key != "banka_denarnica") {
                //var value = json_data[key];
                //var datum = new Date (value[0]);
                days.push(parseInt(key));
            }
        }
        days.sort(function(a, b){return a-b});

        var visual_data = [];
        visual_data.push({x: 0, y: 0});
        for (var i=0; i<stevilo_dni; i++) {
            if (days.length > 0 && i == days[0]) {
                visual_data.push({x: i, y: json_data[days[0]][1]});
                days.splice(0, 1);
            }
            else {
                visual_data.push({x: i, y: visual_data[visual_data.length-1]['y']});
            }
        }

        var s = "Prikaz stanja v " + b_d + " za obdobje zadnjih " + stevilo_dni + " dni";
        draw(visual_data, s);

        function draw(visual_data, title_text) {
            var chart = new CanvasJS.Chart("chartContainer",
            {
              backgroundColor: "#F0FFFF",
              title: {
                  text: title_text,
                  fontSize: 30
              },

              data: [
                  {
                    type: "line",
                    dataPoints: visual_data
                  }
              ]
            });

            chart.render();
          }

    </script>

{% endblock %}