{% block content %}
    {% load i18n %}

    <li>
        {% blocktrans trimmed with o=cilj.opis t=cilj.trenutno_privarcevano v=cilj.vrednost od=cilj.od_datuma do=cilj.do_datuma%}
            Description:  <b>{{ o }}</b> <br> Saving status: <b>{{ t }} / {{ v }}</b> <br> Timeline: <b>{{ od }} - {{ do }}</b> <br>{% endblocktrans %}

        {% if cilj.is_accomplished %}
            <p style="color: greenyellow"> &#10004;  &#10004;  &#10004; </p>
        {% else %}
            {% if cilj.is_close_to_end %}
                <p style="color: darkred"> {% blocktrans %}The final date is less than a week from now or a goal is expired!{% endblocktrans %} </p>
            {% endif %}
        {% endif %}
    </li>
    <br>
{% endblock %}