{% block content %}
    <head>
        <title> Kalkulator stroškov </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load staticfiles %}
	    <link rel="stylesheet" href="{% static 'css/style.css' %}" type = "text/css"/>

        <script type = "text/javascript" src="{% static 'js/camera.js' %}"></script>
        <script type = "text/javascript" src="{% static 'js/script.js' %}"></script>
        <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
    </head>
{% endblock %}