{% block content %}
    <nav class="navigation col-12">
        <div class="nav_buttons col-4">
            <a href="vnos.html"> <button type="button" id="nov_vnos"> Nov vnos </button> </a>
        </div>
        <div class="nav_buttons col-4">
            <a href="pregled.html"> <button type="button" id="pregled"> Pregled </button> </a>
        </div>
        <div class="nav_buttons col-4">
            <a href="vizualizacija.html"> <button type="button" id="vizualizacija"> Vizualizacija </button> </a>
        </div>
    </nav>
{% endblock %}