{% block content %}
    <nav class="navigation col-12">
        <div class="nav_buttons col-4">
            <a href="{% url 'vnos' %}"> <button type="button" id="nov_vnos"> Nov vnos </button> </a>
        </div>
        <div class="nav_buttons col-4">
            <a href="{% url 'pregled' %}"> <button type="button" id="pregled"> Pregled </button> </a>
        </div>
        <div class="nav_buttons col-4">
            <a href="{% url 'vizualizacija' %}"> <button type="button" id="vizualizacija"> Vizualizacija </button> </a>
        </div>
    </nav>
{% endblock %}