{% block content %}
    <section class="main col-12">
        <div class="not_goal_results col-12">
            <form method="post" id="pregled_form" action="{% url 'iskanje' %}">
                {% csrf_token %}

                <div class="dropdown">
                    <select onchange="change_pregled_dropdown(this)" name="select_opcija" id="pregled_select" style="margin: 20px">
                        <option value="wallet"> Denarnica </option>
                        <option value="bank"> Banka </option>
                        <option value="goals"> Cilji </option>
                    </select>
                </div>

                <div class="choose_option col-3">
                    <select name="kategorija">
                        <option value="vsi_izdatki"> Vsi izdatki </option>
                        <option value="vsi_prejemki"> Vsi prejemki </option>
                        <option value="hrana"> Hrana </option>
                        <option value="oblacila"> Oblačila, obutev </option>
                        <option value="tehnika"> Tehnika </option>
                        <option value="popravila"> Popravila </option>
                        <option value="gospodinjstvo"> Gospodinjstvo </option>
                        <option value="prevoz"> Prevoz </option>
                        <option value="pocitnice"> Počitnice, potovanja </option>
                        <option value="darila"> Darila </option>
                        <option value="drugo"> Drugo </option>

                        <option value="placa"> Plača </option>
                        <option value="ostali_prihodki"> Ostali prihodki </option>

                        <option value="dvig"> Dvig gotovine </option>
                        <option value="polog"> Polog gotovine </option>
                    </select>
                </div>

                <div class="choose_period col-3">
                    <select name="obdobje">
                        <option value="teden"> Zadnji teden </option>
                        <option value="mesec"> Zadnji mesec </option>
                        <option value="leto"> Zadnje leto </option>
                    </select>
                </div>

                <div class="confirm col-2">
                    <input type="submit" name="preglej" value="Preglej">
                </div>
            </form>
        </div>

        <div class="result_set col-12">
            {% if izdatki %}
                <p style="margin-left: 40px; color: #B90000; font-weight: bold; font-style: italic;"> Izdatki: </p>
                <ul>
                    {% for izdatek in izdatki %}
                        {% include "snippets/izdatek.html" %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% if prejemki %}
                <p style="margin-left: 40px; color: #80ff80; font-weight: bold; font-style: italic;"> Prejemki: </p>
                <ul>
                    {% for prejemek in prejemki %}
                        {% include 'snippets/prejemek.html' %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% if cilji %}
                <p style="margin-left: 40px; color: #0000B9; font-weight: bold; font-style: italic;"> Cilji: </p>
                <ul>
                    {% for cilj in cilji %}
                        {% include 'snippets/cilj.html' %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
{% endblock %}