{% block content %}
    {% load i18n %}

    <section class="main col-12">
        <div id="language_list">
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% language lang_code %}
                <span> | </span> <a href="{% url 'pregled' %}">{{ lang_name }}</a> <span> | </span>
                {% endlanguage %}
            {% endfor %}
        </div>

        <div class="not_goal_results col-12">
            <form method="post" id="pregled_form" action="{% url 'iskanje' %}">
                {% csrf_token %}

                <div class="dropdown">
                    <select onchange="change_pregled_dropdown(this)" name="select_opcija" id="pregled_select" style="margin: 20px">
                        <option value="wallet"> {% blocktrans %}Wallet{% endblocktrans %} </option>
                        <option value="bank"> {% blocktrans %}Bank{% endblocktrans %} </option>
                        <option value="goals"> {% blocktrans %}Goals{% endblocktrans %} </option>
                    </select>
                </div>

                <div class="choose_option col-3">
                    <select name="kategorija">
                        <option value="vsi_izdatki"> {% blocktrans %}All expenses{% endblocktrans %} </option>
                        <option value="vsi_prejemki"> {% blocktrans %}All revenue{% endblocktrans %} </option>
                        <option value="hrana"> {% blocktrans %}Food{% endblocktrans %} </option>
                        <option value="oblacila"> {% blocktrans %}Clothes{% endblocktrans %}, obutev </option>
                        <option value="tehnika"> {% blocktrans %}Technology{% endblocktrans %} </option>
                        <option value="popravila"> {% blocktrans %}Repairs{% endblocktrans %} </option>
                        <option value="gospodinjstvo"> {% blocktrans %}Technology{% endblocktrans %} </option>
                        <option value="prevoz"> {% blocktrans %}Comute{% endblocktrans %} </option>
                        <option value="pocitnice"> {% blocktrans %}Vacation, travel{% endblocktrans %} </option>
                        <option value="darila"> {% blocktrans %}Presents{% endblocktrans %} </option>
                        <option value="drugo"> {% blocktrans %}Other{% endblocktrans %} </option>

                        <option value="placa"> {% blocktrans %}Salary{% endblocktrans %} </option>
                        <option value="ostali_prihodki"> {% blocktrans %}Other income{% endblocktrans %} </option>

                        <option value="dvig">  {% blocktrans %}Cash withdrawals{% endblocktrans %} </option>
                        <option value="polog">  {% blocktrans %}Cash deposit{% endblocktrans %} </option>
                    </select>
                </div>

                <div class="choose_period col-3">
                    <select name="obdobje">
                        <option value="teden"> {% blocktrans %}Last week{% endblocktrans %} </option>
                        <option value="mesec"> {% blocktrans %}Last month{% endblocktrans %} </option>
                        <option value="leto"> {% blocktrans %}Last year{% endblocktrans %} </option>
                    </select>
                </div>

                <div class="confirm col-2">
                    <input type="submit" name="preglej" value="{% blocktrans %}Check{% endblocktrans %}">
                </div>
            </form>
        </div>

        <div class="result_set col-12">
            {% if izdatki %}
                <p style="margin-left: 40px; color: #B90000; font-weight: bold; font-style: italic;"> {% blocktrans %}Expenses: {% endblocktrans %} </p>
                <ul>
                    {% for izdatek in izdatki %}
                        {% include "snippets/izdatek.html" %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% if prejemki %}
                <p style="margin-left: 40px; color: #80ff80; font-weight: bold; font-style: italic;"> {% blocktrans %}Incomes: {% endblocktrans %} </p>
                <ul>
                    {% for prejemek in prejemki %}
                        {% include 'snippets/prejemek.html' %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% if cilji %}
                <p style="margin-left: 40px; color: #0000B9; font-weight: bold; font-style: italic;"> {% blocktrans %}Goals: {% endblocktrans %} </p>
                <ul>
                    {% for cilj in cilji %}
                        {% include 'snippets/cilj.html' %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
{% endblock %}