{% block content %}
    <section class="main col-12">
        <div class="col-12">
            <form method="POST" id="get_visual_minus" action="{% url 'prikaz' %}">
                {% csrf_token %}

                <div class="col-2 dropdown izdatki">
                    <select id="select_vizualizacija" name="dropdown">
                        <option value="wallet"> Denarnica </option>
                        <option value="bank"> Banka </option>
                        <option value="wallet_and_bank"> Skupaj </option>
                    </select>
                </div>
                <div class="col-6 izdatki">
                    <div class="col-4">
                        <select name="obdobje">
                            <option value="teden"> Zadnji teden </option>
                            <option value="mesec"> Zadnji mesec </option>
                            <option value="leto"> Zadnje leto </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="submit" name="prikazi" value="Prikaži">
                    </div>
                </div>
            </form>
        </div>

        {% include "snippets/js/js_visual.html" %}

    </section>
{% endblock %}