{% block content %}
    {% load i18n %}

    <section class="main col-12">
        <div class="dropdown" style="margin: 30px">
            <select class="select_dropdown" name="dropdown" onchange="showGoal(this)">
                <option value="wallet">  {% blocktrans %}Wallet{% endblocktrans %} </option>
                <option value="bank"> {% blocktrans %}Bank{% endblocktrans %} </option>
                <option value="new_goal"> {% blocktrans %}New goal{% endblocktrans %} </option>
                <option value="goal_add_money"> {% blocktrans %}Add to goal{% endblocktrans %} </option>
            </select>
        </div>

        <div class="add_data">
            <div class="input col-12">
                <form method="post" id="add_data" action="{% url 'dodaj' %}">
                    {% csrf_token %}

                    <div class="dropdown" style="margin: 30px">
                        <select class="select_dropdown" name="dropdown" onchange="showGoal(this)">
                            <option value="wallet"> {% blocktrans %}Use wallet{% endblocktrans %} </option>
                            <option value="bank"> {% blocktrans %}Use bank account{% endblocktrans %} </option>
                        </select>
                    </div>

                    <div class="col-3">
                        {% blocktrans %}Description:{% endblocktrans %} <input type="text" name="opis" placeholder="{% blocktrans %}Type description...{% endblocktrans %}">
                    </div>
                    <div class="col-3">
                        {% blocktrans %}Value in €:{% endblocktrans %} <input type="text" name="znesek" placeholder="{% blocktrans %}Type value...{% endblocktrans %}">
                    </div>
                    <div class="col-3">
                        <select id="select_category" name="kategorija">
                            <option value="hrana"> {% blocktrans %}Food{% endblocktrans %} </option>
                            <option value="oblacila"> {% blocktrans %}Clothes{% endblocktrans %} </option>
                            <option value="tehnika"> {% blocktrans %}Technology{% endblocktrans %} </option>
                            <option value="popravila"> {% blocktrans %}Repairs{% endblocktrans %} </option>
                            <option value="gospodinjstvo"> {% blocktrans %}Technology{% endblocktrans %} </option>
                            <option value="prevoz"> {% blocktrans %}Comute{% endblocktrans %} </option>
                            <option value="pocitnice"> {% blocktrans %}Vacation, travel{% endblocktrans %} </option>
                            <option value="darila"> {% blocktrans %}Presents{% endblocktrans %} </option>
                            <option value="drugo"> {% blocktrans %}Other{% endblocktrans %} </option>

                            <option value="placa"> {% blocktrans %}Salary{% endblocktrans %} </option>
                            <option value="ostali_prihodki"> {% blocktrans %}Other income{% endblocktrans %} </option>

                            <option value="dvig">  {% blocktrans %}Cash withdrawals{% endblocktrans %} </option>
                            <option value="polog">  {% blocktrans %}Cash deposit{% endblocktrans %} </option>
                        </select>
                    </div>
                    <div class="col-1">
                        <input type="submit" name="plus" value="{% blocktrans %}Add{% endblocktrans %}" onclick="Clicked(this);">
                    </div>
                    <div class="col-1">
                        <input type="submit" name="minus" value="{% blocktrans %}Take{% endblocktrans %}" class="minus_button" onclick="Clicked(this);">
                    </div>
                </form>
            </div>
        </div>

        <div class="new_goals" style="display: none;">
            <div class="col-12">
                <form method="post" id="add_goal" action="{% url 'dodaj_cilj' %}">
                    {% csrf_token %}
                    <div class="col-3">
                        {% blocktrans %}Saving for:{% endblocktrans %} <input type="text" name="opis_privarcevanja" placeholder="{% blocktrans %}Type saving goal...{% endblocktrans %}">
                    </div>
                    <div class="col-3">
                        {% blocktrans %}Value in €:{% endblocktrans %} <input type="text" name="vrednost" placeholder="{% blocktrans %}Type value...{% endblocktrans %}">
                    </div>
                    <div class="col-4">
                        {% blocktrans %}I'll save till: {% endblocktrans %} <input type="date" name="datum"> <br>
                    </div>
                    <div class="col-2">
                        <input type="submit" value="{% blocktrans %}Add{% endblocktrans %}">
                    </div>
                </form>
            </div>
        </div>

        <div class="add_to_goal" style="display: none;">
            <div class="col-12">
                <form method="post" id="add_to_goal" action="{% url 'dodaj_cilju' %}">
                    {% csrf_token %}
                    <div class="col-4">
                        {% blocktrans %}Value in €:{% endblocktrans %} <input type="text" name="vrednost" placeholder="{% blocktrans %}Type value...{% endblocktrans %}">
                    </div>
                    <div class="col-3">
                        <select name="vzemi_iz">
                            <option value="wallet"> {% blocktrans %}Take from wallet{% endblocktrans %} </option>
                            <option value="bank"> {% blocktrans %}Take from bank account{% endblocktrans %} </option>
                        </select>
                    </div>
                    <div class="col-3">
                        <select id="goals" name="za_cilj">
                            {% for goal in request.user.cilj_set.all %}
                                <option value="{{ goal.opis }}"> {{ goal.opis }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="submit" value="{% blocktrans %}Add{% endblocktrans %}">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}